// sizes
$navbar-height: 70px;
// WARNING: do not change value without changing the value in Selector.tsx, too!
$footer-and-navbar-content-width: 60%;
$footer-height: 380px;
$scrollbar-width: 5px;
$hamburger-menu-width: 300px;
$log-entry-height: 80px;
$log-entry-icon-size: 40px;

$user-small-avatar-size: 16px;
$guild-height: 166px;

// etc
$table-radius: 5px;
$box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
